*{
    margin: 0;
    padding: 0;
    box-sizing: 0;

}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;

}

nav{ 
    flex: 1; 
    text-align: right;

}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: #0C0303;
}

p{
    color: #0C0303;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.coll-1{
    flex-basis: 50%;
    min-width: 300px;
}

.coll-1img{
    max-width: 100%;
    padding: 50px 0;
}

.coll-1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.btn{
    display: inline-block;
    background: #acadb6;
    padding: 8px 30px;
    margin: 30px 0;
}

.header{
    background: radial-gradient(#F7717D #acadb6);
}

.produtos{
    margin: 70px 0;
}

.coll-3{
    flex-basis: 30%;
    min-width: 260px;
    margin-bottom: 30px;
}
coll-3 img{
    width: 100%;
}
.small-container{
    width: 1080px;
}